html
{
  font-size: 16px;
  line-height: 1.6em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

body
{
  color: #4c3000;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 975px;
  background-color: #fff9e5;
  min-height: 100%;
}

a
{
  text-decoration: none;
}

#content
{
  min-height: 800px;
  height: 100%;
  width: 1000px;
  display: table;
  margin: 0 auto;
  background-color: #feeebd;
  border-right: 1px solid #8e846b;
}

#rowwrapper
{
  display: table-row;
}

#innersidebar
{
  display: table-cell;
  background-color: #fff9e5;
  width: 275px;
  border-right: 1px solid #8e846b;
  padding-top: 3em;
}

#innersidebar div
{
  padding: 0.5em 2em;
  position: relative;
  left: 1px;
}

div.sideitem
{
  cursor: pointer;
}

div.sideitem:not(.on):hover
{
  background-color: #ffdd57;
  color: #381f00;
  border-right: 1px solid #8e846b;
}

.sideitem.on
{
  background-color: #feeebd;
  border: 1px solid #8e846b;
  border-right: none;
  color: #383838;
}

div.major
{
  background: #817865 url("/images/ui-bg_gloss-wave_45_817865_500x100.png") 50% 50% repeat-x;
  color: white;
  margin-top: 1em;
}

#pages
{
  display: table-cell;
  width: 700px;
  max-width: 700px;
  padding: 3em;
}

#titlebar
{
  border-bottom: 1px solid #494437;
}

#bottombar div
{
  font-size: 20px;
}

#bottombar
{
  border-top: 1px solid #494437;
}

#titlebar:hover,
#titlebar div:hover,
#bottombar div:hover
{
  cursor: pointer;
}

#titlebar,
#bottombar
{
  padding: 0.75em;
  height: 2em;
  color: #ffffff;
  background: #817865 url("/images/ui-bg_gloss-wave_45_817865_500x100.png") 50% 50% repeat-x;
  text-align: center;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

span.navitem
{
  padding: 0.5em;
}

#titlebar > div
{
  /*margin-left: auto;
  margin-right: 15%;*/
}

#titlebar > div > div
{
  display: inline-block;
  color: white;
  padding: 1em;
  font-size: 20px;
}

#titlebar div:hover
{
  cursor: pointer;
}

#titlebar h1
{
  letter-spacing: 3px;
  font-weight: normal;
  display: inline-block;
  font-size: 40px;
}

#logo > div > img
{
  width: 100%;
}

#logo
{
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 12em;
  z-index: 100;
  margin-top: 0.5em;
  margin-left: 0em;
}

#logo div
{
  display: block;
}

#logo-text
{
  color: #4c3000;
  font-size: 50px;
  font-weight: bold;
  margin-left: -0.25em;
}

#logo:hover
{
  cursor: pointer;
}

#logo img
{
  width: 300px;
}

#sidebar
{
  color: #1f1f1f;
  background-color: #fff9e5;
  max-width: 30%;
  min-width: 30%;
  min-height: 100%;
  height: 100%;
  z-index: 1;
  display: inline-block;
  float: left;
}

span.snippet
{
  font-family: monospace;
}

ul.faq li
{
}

div.faq-q
{
  margin-bottom: 0.25em;
}

div.faq-q:hover
{
  cursor: pointer;
}

div.codehilite
{
  padding: 0.25em 1em;
  background-color: #333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow-x: scroll;
  max-width: 90%;
  margin-bottom: 0.5em;
}

div.faq-a
{
  color: rgb(0, 116, 199);
  display: none;
  border: 1px solid rgb(101, 94, 78);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 0 0.5em;
  margin-bottom: 1em;
}

div.faq-a p
{
  margin: 0.5em 0;
}

.faq-show-all,
.faq-hide-all
{
  margin-right: 1em;
}

div.sccont
{
  background-color: black;
  display: inline-block;
  /*padding: 0.6em 1.35em 0 1.35em;*/
  padding: 0.6em 2em 0 2em;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

ul.features-list 
{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  /*list-style-position: inside;*/
}

ul.features-list li
{
  list-style-position: inside;
  text-indent: -1em;
  margin-left: 0;
  padding-left: 1em;
}

img.screenshot {
  width: 100%;
}

